<form class="form" #form="ngForm" (ngSubmit)="saveProject(form)" autocomplete="off">

  <div class="code-input">
    <div class="code-input__frame" [style.background-color]="color">
      <div class="code-input__mac-buttons">
        <pre>
          <code
            [class]="language.value"
            #body
            required
            appAutoFocus
            spellcheck="false"
            contenteditable="true">
          </code>
        </pre>
      </div>
    </div>

    <button class="highlight-btn" (click)="highlight($event)">Visualizar com o
      highlight</button>
  </div>

  <div class="code-menu">
    <div class="code-menu__container--project">
      <h2 class="code-menu__title">Seu projeto</h2>

      <input ngModel name="title" class="code-menu__input--name" type="text" placeholder="Nome do seu projeto" />
      <textarea ngModel name="description" class="code-menu__input--description" type="text"
        placeholder="Descrição do seu projeto"></textarea>
    </div>

    <div class="code-menu__container--personalization">
      <h2 class="code-menu__title">Personalização</h2>

      <select #language ngModel name="language" class="code-menu__input--language">
        <option value="language-c">C</option>
        <option value="language-cpp">C++</option>
        <option value="language-cs">C#</option>
        <option value="language-clojure">Clojure</option>
        <option value="language-css">CSS</option>
        <option value="language-haskell">Haskell</option>
        <option value="language-html">HTML</option>
        <option value="language-java">Java</option>
        <option value="language-javascript">JavaScript</option>
        <option value="language-lua">Lua</option>
        <option value="language-php">PHP</option>
        <option value="language-python">Python</option>
        <option value="language-r">R</option>
        <option value="language-ruby">Ruby</option>
        <option value="language-sql">SQL</option>
        <option value="language-shell">Shell</option>
      </select>

      <input #colorInput ngModel name="color" class="code-menu__input--color" type="color" [value]="color"
        (input)="changeColor(colorInput)" />
    </div>

    <button type="submit" class="code-menu__submit">Salvar projeto</button>
  </div>
</form>
