@import "variables";

.header {
  @include phone {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  @include tablet {
    gap: 4rem;
    width: auto;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.6fr;
    align-items: center;
    gap: 2.5rem;
  }

  &__logo {
    @include desktop {
      grid-column: 1 / 2;
    }
  }

  &__search-bar {
    @include phone {
      display: none;
    }

    @include desktop {
      grid-column: 2 / 3;
      place-self: center;
    }

    box-sizing: content-box;
    width: 100%;
    height: 5rem;
    border: none;
    background: $input-color;
    border-radius: 8px;
    font-family: $standard-font;
    color: $input-text;
    transition: 400ms;

    &:hover {
      background: $input-color-hover;
    }
    &::placeholder {
      color: $placeholder-color;
    }
  }

  &__icon {
    display: flex;
    gap: 2.25rem;
    justify-content: space-between;
    align-items: center;

    @include desktop {
      display: none;
    }

    &__search--link {
      @include tablet {
        display: none;
      }
    }

    &__menu--link {
      @include tablet {
        justify-self: flex-end;
      }
    }
  }
}
