<header class="header">
  <!-- logo -->
  <img
    class="header__logo"
    src="assets/logo.svg"
    alt="Logo Alura Dev"
  />

  <!-- barra de pesquisa -->
  <input
    class="header__search-bar"
    type="text"
    placeholder="Busque por algo"
  />

  <!-- ícones -->
  <div class="header__icon">
    <a class="header__icon__search--link" href="#">
      <img
        class="header__icon__search--img"
        src="assets/search-icon.svg"
        alt="Buscar"
      />
    </a>

    <a class="header__icon__menu--link" href="#">
      <img
        class="header__icon__menu--img"
        src="assets/menu-icon.svg"
        alt="Abrir menu"
      />
    </a>
  </div>

  <!-- usuário -->
  <app-user></app-user>
</header>
