<header class="header">
  <!-- logo -->
  <img
    class="header__logo"
    src="assets/logo.svg"
    alt="Logo Alura Dev"
  />

  <!-- barra de pesquisa -->
  <input
    class="header__search-bar"
    type="text"
    placeholder="Busque por algo"
  />

  <!-- ícones -->
  <div class="header__icon">
    <img
      class="header__icon__search--link"
      src="assets/search-icon.svg"
      alt="Buscar"
    />

    <img
      class="header__icon__menu--link"
      src="assets/menu-icon.svg"
      alt="Abrir menu"
    />
  </div>

  <!-- usuário -->
  <app-user></app-user>

  <!-- menu hamburger -->
  <app-hamburger-menu ngClass=""></app-hamburger-menu>
</header>
