@import "variables";

.header {
  @include phone {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  @include tablet {
    gap: 4rem;
    width: auto;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.6fr;
    align-items: center;
    gap: 4rem;
  }

  &__logo {
    @include desktop {
      grid-column: 1 / 2;
    }
  }

  &__search-bar {
    @include phone {
      display: none;
    }

    @include desktop {
      grid-column: 2 / 3;
      place-self: center;
    }

  }

  &__icon {
    display: flex;
    gap: 2.25rem;
    justify-content: space-between;
    align-items: center;

    @include desktop {
      display: none;
    }

    &__search--link {
      cursor: pointer;

      @include tablet {
        display: none;
      }
    }

    &__menu--link {
      cursor: pointer;

      @include tablet {
        justify-self: flex-end;
      }
    }
  }
}

app-user {
  @include phone {
    display: none;
  }

  @include tablet {
    display: none;
  }
}

app-hamburger-menu {
  position: absolute;
  top: 10vh;
  right: 2rem;
  width: auto;
  height: 100vh;
  transition: 450ms ease-in-out;

  @include desktop {
    display: none;
  }
}

.disabled-hamburger-menu {
  transform: translateX(120%);
}

.active-hamburger-menu {
  transform: translateX(0);
  left: 50%;
}
