@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$background-color: #051D3B;
$text-color: #fff;
$input-color: rgba(255, 255, 255, 0.16);
$input-color-hover: rgba(255, 255, 255, 0.20);
$input-text: rgba(255, 255, 255, 0.80);
$placeholder-color: rgba(255, 255, 255, 0.64);
$standard-font: 'Inter', sans-serif;
$button-color: #5081FB;

@mixin phone {
  @media (max-width: 375px) {@content}
}

@mixin tablet {
  @media (min-width: 376px) and (max-width: 768px) {@content}
}

@mixin desktop {
  @media (min-width: 769px) {@content}
}
