@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono&display=swap');

$background-color: hsl(213, 84%, 13%);
$text-color: hsl(0, 0%, 100%);
$dark-text-color: hsl(0, 0%, 75%);
$input-color: hsla(0, 0%, 100%, 0.16);
$code-card-bg-color: hsla(0, 0%, 0%, 0.16);
$input-color-hover: hsla(0, 0%, 100%, 0.2);
$input-text: hsla(0, 0%, 100%, 0.8);
$placeholder-color: hsla(0, 0%, 100%, 0.64);
$button-color: hsl(223, 96%, 65%);
$button-color-hover: hsla(223, 96%, 65%, 0.815);
$dark-button-color: hsla(223, 96%, 65%, 0.08);
$dark-button-color-hover: hsla(223, 96%, 65%, 0.15);
$dark-button-color-action: hsla(223, 96%, 65%, 0.25);
$standard-font: 'Inter', sans-serif;
$code-font: 'Roboto Mono', monospace;
$frame-color: hsl(199, 100%, 71%);
$frame-inner-color: hsl(0, 0%, 8%);
$hamburger-menu-color: hsl(214, 34%, 27%);

@mixin phone {
  @media (max-width: 375px) {@content}
}

@mixin tablet {
  @media (min-width: 376px) and (max-width: 768px) {@content}
}

@mixin desktop {
  @media (min-width: 769px) {@content}
}
