@import "variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2.5rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  // height: 700px;
  background-color: $code-card-bg-color;
  border-radius: 8px;

  @include desktop {
    height: 520px;
  }
}

.project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
  padding: 0 2rem 2rem 2rem;

  &__title, &__description, .social__group__like--text, .social__group__comment--text {
    font-family: $standard-font;
    color: $text-color;
  }

  &__title {
    font-size: 2.1rem;
    font-weight: bold;
  }

  &__description, .social__group__like--text, .social__group__comment--text {
    font-size: 1.6rem;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__group {
      width: 50%;
      display: flex;
      justify-content: flex-start;

      &__comment--icon, &__like--icon {
        width: 20%;
      }

      &__comment--icon {
        background: url("../../assets/comment-icon.svg") no-repeat center;
      }

      &__like--icon {
        background: url("../../assets/like-icon.svg") no-repeat center;
      }

      &__like--text, &__comment--text {
        align-self: center;
      }
    }
  }
}
