<div *ngIf="projects.length > 0">
  <div class="container">
    <div class="card" *ngFor="let p of projects">
      <app-code-output class="card__body" [body]="p.body"></app-code-output>

      <div class="project">
        <h3 class="project__title">{{ p.title }}</h3>
        <p class="project__description">{{ p.description }}</p>

        <div class="social">
          <div class="social__group">
            <div class="social__group__comment--icon"></div>
            <p class="social__group__comment--text">{{ comments }}</p>
            <div class="social__group__like--icon"></div>
            <p class="social__group__like--text">{{ likes }}</p>
          </div>
          <app-user></app-user>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="project__title" *ngIf="projects.length === 0">
  Nenhum projeto para exibir.
</div>
