@import "variables", "reset", "scrollbar";


// styles.scss

html {
  background-color: $background-color;
  padding: 2rem;
  font-size: 62.5%;
  font-family: $standard-font;
}

app-root {
  max-width: 100vw;
  overflow-x: hidden;
}

input, textarea, select {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 5rem;
  border: none;
  background: $input-color;
  border-radius: 8px;
  font-family: $standard-font;
  font-size: 1.6rem;
  color: $input-text;
  transition: 400ms;

  &:hover {
    background: $input-color-hover;
  }

  &::placeholder {
    color: $placeholder-color;
    padding: 0.5rem;
    line-height: 1.3rem;
  }
}
