@import "variables";

.nav-menu {
  @include phone {
    display: none;
  }

  @include tablet {
    display: none;
  }

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  height: auto;

  &__title {
    color: $text-color;
    font-family: $standard-font;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    text-decoration: none;

    &:active {
      text-decoration: none;
    }

    &--code {
      background: url("../../../assets/code-icon.svg") no-repeat center;
      opacity: 0.75;
    }

    &--community {
      background: url("../../../assets/community-icon.svg") no-repeat center;
      opacity: 0.75;
    }

    &--code, &--community {
      gap: unset;
      padding: 2.5rem;
      background-color: $dark-button-color;
      border-radius: 16px;
    }

    &__text {
      color: $dark-text-color;
      font-family: $standard-font;
      font-size: 1.5rem;
      display: block;
    }
  }
}

.active {
  // ícone
  :nth-child(1) {
    background-color: $button-color;
    opacity: 1;
  }

  // texto
  :nth-child(2) {
    color: $text-color;
  }
}


