
<nav class="nav-menu">
  <h2 class="nav-menu__title">Menu</h2>

  <ul class="nav-menu">
    <li class="nav-menu__link">
      <a routerLink="code-editor" class="nav-menu__link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div class="nav-menu__link--code"></div>
        <p class="nav-menu__link__text">Editor de código</p>
      </a>
    </li>

    <li class="nav-menu__link">
      <a routerLink="community" class="nav-menu__link" routerLinkActive="active">
        <div class="nav-menu__link--community"></div>
        <p class="nav-menu__link__text">Comunidade</p>
      </a>
    </li>
  </ul>
</nav>
